@typeparam TItem
<table class="table is-fullwidth">
    <thead>
        <tr>
            @if (Columns == null || Columns.Count <= 0)
            {
                //Create the header with reflection
            }
            else
            {
                //Create the header based on column definition
                @foreach (var column in Columns)
                {
                    <th style="text-align:@column.Alignment.ToString().ToLower()">@column.Caption</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @if (DataItems != null)
        {
            @foreach (var item in DataItems.Skip(Paging.NumOfItemsToSkip(CurrentPageNumber)).Take(Paging.NumOfItemsToTake(DataItems.Count)))
            {
                <tr>
                    @if (Columns != null && item != null)
                    {
                        @foreach (var column in Columns)
                        {
                            // <td>@typeof(TItem).GetProperty(column.Datafield).GetValue(item)</td>
                            var itemtype = typeof(TItem);//to get passed data type to tItem (employee)
                            var columndatafield = column.Datafield ?? "nothing";//to get column name from TItem

                            var datafield = itemtype.GetProperty(columndatafield);//to get data type of specified column
                            @if (datafield != null)
                            {
                                var datavalue = datafield.GetValue(item);
                                if (datavalue != null)
                                {
                                    if (column.DataType == DataType.DateTime)
                                    {
                                        datavalue = DateTime.Parse(datavalue.ToString()??"").ToString(column.Format);
                                    }
                                    else if (column.DataType == DataType.Boolean)
                                    {
                                        datavalue = bool.Parse(datavalue.ToString()??"").ToString();
                                    }
                                    else if (column.DataType == DataType.Currency)
                                    {
                                        datavalue = Math.Round(double.Parse(datavalue.ToString()??""), 2).ToString(column.Format);
                                    }
                                }
                                <td align="@column.Alignment.ToString().ToLower()">@datavalue</td>
                            }
                            else
                            {
                                <td style="">nothing</td>
                            }
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>
<div class="level">
    <div class="level-left"></div>
    <div class="level-right">
        <div class="level-item">
            @if (Paging != null && Paging.Enabled)
            {
                @if (Paging.CustomPager)
                {
                    @CustomPager
                }
                else
                {
                    <span style="font-size:14px;cursor:pointer;" @onclick="GoToPrevPage"> <b>&lt Previous</b></span>
                    
                    @if(DataItems!=null)
                    {
                        <span style="font-size:12px; color:gray; cursor:pointer;">&nbsp;&nbsp; Page @CurrentPageNumber of @Paging.MaxPageNumber(DataItems.Count)&nbsp;&nbsp;</span>
                    }
                    <span style="font-size:14px;cursor:pointer;" @onclick="GoToNextPage"><b>Next &gt</b></span>
                }
            }
        </div>
    </div>
</div>
@code {
    [Parameter]
    public List<TItem> DataItems { get; set; } 
    [Parameter]
    public List<ColumnDefinition> Columns { get; set; } = new();
    [Parameter]
    public PagingConfig Paging { get; set; } = new();
    [Parameter]
    public int CurrentPageNumber { get; set; } = 1;
    [Parameter]
    public RenderFragment? CustomPager { get; set; }
    public void GoToPrevPage()
    {
        @if (Paging is not null)
            CurrentPageNumber = Paging.PrevPageNumber(CurrentPageNumber);
    }
    public void GoToNextPage()
    {
        @if (Paging != null && DataItems != null)
            CurrentPageNumber = Paging.NextPageNumber(CurrentPageNumber, DataItems.Count);
    }
    public int MaxPageNumber { get => Paging.MaxPageNumber(DataItems.Count); }

}
